# editorconfig.org
root = true

# Unix-style newlines with a newline ending
# every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 4

# html
[*.html]
indent_style = space
indent_size = 4

# javascript
[*.js]
indent_style = space
indent_size = 4

# less
[*.less]
indent_style = space
indent_size = 4

# php
[*.php]
indent_style = space
indent_size = 4

# yaml
[*.yaml]
indent_style = space
indent_size = 2

# special files
[package.json]
indent_style = space
indent_size = 2
